#PATH_add ~/.local/share/rtx/installs/lua/5.1.5/luarocks/bin/
PATH_add /Applications/love.app/Contents/MacOS/
export OPENCODE_EXPERIMENTAL_LSP_TOOL=true
export OPENCODE_ENABLE_EXA=true
[ -f .envrc-priv ] && source_env .envrc-priv
